.step {
  display: flex;
  width: 100%;
  padding: 16px 8px;
  box-sizing: border-box;
  align-items: center;
  border-bottom: 1px solid black;

  .step-owner-username {
    width: 20%;
  }

  .step-name {
    width: 15%;
  }

  .step-displayed-name {
    width: 15%;
  }

  .step-only-on {
    width: 10%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .step-serial {
    width: 10%;
    text-align: center;
  }

  .step-command {
    flex: 1;
    margin-left: 8px;
    border: none;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;

    &:focus {
      outline: none;
    }
  }
}
